body.coffee-bg {
    background: url('/static/img/beans.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.coffee-navbar {
  background: #fff7f0;
  border-bottom: 2px solid #f0e6da;
}

.navbar-brand, .coffee-accent {
  color: #ff6800;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.nav-link, .coffee-link {
  color: #6d4d2c;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  transition: color 0.15s;
}

.nav-link:hover, .coffee-link:hover {
  color: #ff6800;
}

.coffee-container {
  background: #f0e6da;
  box-shadow: 0 8px 36px rgba(113, 65, 7, 0.07), 0 2px 4px rgba(0,0,0,.03);
  border-radius: 18px;
}

.perc-card {
  border-radius: 20px;
  box-shadow: 0 6px 32px rgba(0,0,0,.08);
  border: none;
}

.coffee-footer {
  background: transparent;
  color: #f0e6da;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.alert-warning {
    background: #ffe8c6;
    color: #56411b;
    border-color: #ffd08a;
}

.btn-dark {
  background: #312720;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  transition: box-shadow 0.18s;
}

.btn-dark:hover,.btn-outline-dark:hover {
    background: #ff6800;
    color: #fff;
    border: none;
    box-shadow: 0 2px 12px #ff680080;
}

.rounded-pill {
  border-radius: 28px;
}

.coffee-accent {
  color: #ff6800;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.coffee-btn {
  color: #6d4d2c;
  background: #ffeed9 ;
  border: 1px solid #ff6800 ;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.page-item.active .page-link {
  background-color: #ff6800;
  border-color: #ff6800;
  color: #fff;
}

.coffee-table {
  border-radius: 12px;
  overflow: hidden;
}

.coffee-search-form input,
.coffee-search-form select {
  border-radius: 8px;
  border: 1px solid #ffe4b7;
}

.coffee-search-input:focus {
  box-shadow: 0 1px 8px #ff680050;
  border-color: #ff6800;
}

.active>.page-link {
    background-color: #212529;
}

.recipe-table {
  border-radius: 12px;
  overflow: hidden;
}
.recipe-search-input:focus {
  box-shadow: 0 1px 8px #ff680050;
  border-color: #ff6800;
}
.small {
    color: #f0e6da;
    font-family:  "Open Sans", sans-serif;
}