{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-4 text-center shadow-sm align-items-center">
    <img src="{% static 'img/coffee.svg' %}" style="width:84px;" alt="logo" />

    <h1 class="display-2 fw-bold coffee-accent mb-4">CoffeeTrack</h1>
    <p class="lead fs-4">Твоя персональна кавова база! Стеж за сортами кави, улюбленими рецептами, обирай найкращу каву для життя.</p>

    <div class="my-4">
        <a href="{% url 'coffee_list' %}" class="btn btn-dark btn-lg rounded-pill mx-2 px-4">Переглянути каву</a>
        <a href="{% url 'recipe_list' %}" class="btn btn-outline-dark btn-lg rounded-pill mx-2 px-4">Рецепти</a>
        <a href="{% url 'news' %}" class="btn btn-outline-dark btn-lg rounded-pill mx-2 px-4">Новини</a>
    </div>

    <p class="fs-5 text-muted fst-italic">
        “Життя надто коротке, щоб пити нецікаву каву...”
    </p>
</div>
{% endblock %}
