{% extends "base.html" %}

{% block content %}
<div class="news-container mt-4">
    <h2 class="mb-4">Кавові новини зі Sprudge</h2>

     <ul class="list-group">
        {% for item in news_items %}
            <li class="list-group-item mb-3">
                <a href="{{ item.link }}" class="coffee-link" target="_blank" rel="noopener">
                    <strong>{{ item.title }}</strong>
                </a>
                <div class="small text-muted">{{ item.published }}</div>
                <div>{{ item.summary|safe }}</div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}